* {
	margin:0;
	padding: 0;
	font-family: 'Spartan', sans-serif;
}

body {
  	background-image: url(images/bg-pattern-bottom-desktop.svg), url(images/bg-pattern-top-desktop.svg);
  	background-position: right bottom, left top;
  	background-repeat: no-repeat, no-repeat;
  	background-size: 80%, 40%;
  	padding: 8% 10%;
}


h1, .rating p {
	color: hsl(300, 43%, 22%);
	line-height: 46px;
	font-weight: 700;
}

.rating p{
	font-size: 14px;
	margin-left: 20px;
	display: inline-block;
	line-height: 16px;
}

h2 {
	font-weight: 400;
	color: hsl(303, 10%, 53%);
	font-size: 15px;
	margin: 15px 0 0 0;
	line-height: 24px;
}

h1 {
	font-size:45px;
}

h1,h2{
	text-align: left;
}

div{
	display: block;
}

span {
	display: inline-block;
}

.left, .right{

	outline-style: solid;
}

.right{
	display: flex;
  	flex-direction: column;
  	width: 50%;
}

.left{
	display: flex;
  	flex-direction: column;
  	width: 50%;
}


.testemonial{
	background-color: hsl(300, 43%, 22%);
	width: 25%;
	border-radius: 8px;
	padding: 35px 33px;
	vertical-align: top;

}


.testemonial img{
	border-radius: 50%;
	display:inline-block;
	width:40px;
}

.comment{
	color: hsl(0, 0%, 100%);
	display: block;
	font-size: 11px;
	line-height: 20px;
	margin: 22px 0 0 0;
}

.rating {
	background-color: hsl(300, 24%, 96%);
	border-radius: 10px;
	margin-top: 16px;
	padding: 16px 32px;
	text-align: center;
}


.stars img{
	margin-right:3px;
}



h3{
	font-weight: 700;
	color: hsl(0, 0%, 100%);
	font-size: 12px;
}

.user p{
	font-size: 12px;
	display: block;
	font-weight: 400;
	color: hsl(333, 80%, 67%);
	margin-top: 4px;
}

.user {
	margin-left:16px;
	text-align: left;
	vertical-align: super;
}

.first{
	margin-right: 10px;
	align-self: flex-start;
}

.second{
	margin: 0 10px 0 10px;
	align-self: center;
}

.third{
	margin:25px 0 0 10px;
	align-self: flex-end;
}

.top, .bottom {
	outline-style: solid;
}

.bottom{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items:flex-start;
}

.top{
	display: flex;
	flex-direction: row;
}

.firsto{
	align-self: flex-start;
}
.secondo{
	align-self: center;
}
.thirdo{
	align-self: flex-end;
}


@media only screen and (max-width: 862px) {
  .bottom {
    flex-direction: column;
  }

  .top {
  	flex-direction: column;
  }

  .testemonial{
  	width: initial;
  }

  .first{
	margin-right: 0;
	align-self: flex-start;
}

.second{
	margin: 15px 0 0 0;
	align-self: center;
}

.third{
	margin:15px 0 0 0;
	align-self: flex-end;
}

.left{
	width:100%;
}

.right{
	width:100%;
	margin-top:34px;
}

h1,h2{
	text-align: center;
}

.firsto{
	align-self: inherit;
}
.secondo{
	align-self: inherit;
}
.thirdo{
	align-self: inherit;
}

.rating{
	text-align: center
}

body {
  	background-image: url(images/bg-pattern-bottom-mobile.svg), url(images/bg-pattern-top-mobile.svg);
  	background-position: right bottom, left top;
  	background-repeat: no-repeat, no-repeat;
  	background-size: 80%, 40%;
}
}